<div class="d-none" id="receiver-notif">
<span><strong id="sender_name"></strong> is calling</span>
<button id='answer-call' class="btn btn-primary">Answer</button>
<h6 id="session_id"></h6>
<h6 id="sender_id"></h6>
</div>